.hero{
    background: url('https://source.unsplash.com/1600x600/?food,restaurant') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 120px 20px;
}
.hero h1{
    font-size: 3rem;
    margin-top: 15px;
}
.hero p{
    font-size:1.3rem;
}