    .menu-section {
  text-align: center;
  padding: 50px 20px;
}
.filter-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;  /* space between buttons */
}


.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background: #ff6f61;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.filter-buttons button:hover,
.filter-buttons .active {
  background: #e85d50;
}
.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

